# Input and Output in Python
Inputting data into a program can be the most time intensive activity. Python contains a number of packages designed to import and export data with minimum effort and code. The most popular package these days is *pandas*. (I have included a pandas cheat sheet in the `CompProbSol` repository). You should note that a single backslash does not work when specifying a file path in Python. You need to use aforward slash or add one more backslash as shown in my code below.
All the functions below will return a `dataframe`, a object in Python that stores data and allows access with a certain syntax that I often refer to as "dot notation".

In [1]:
import pandas as pd
datfile = "data\\statepop.mat"
txtfile = "data\\GlobalTempbyYear.txt"
csvfile = "data\\sunspotsbyyear.csv"
xlsfile = "data\\GlobalCarbonBudget2018.xlsx"

In [2]:
datfile

'data\\statepop.mat'

## Read text and *csv* files
We can use the `read_table()` function to pull data from text file. You could also use the `read_csv()` with `sep= "\t"` to read data from tab-separated file. By default, python will look for a header row unless otherwise specified. `pandas` imports data from the files as `dataframes`.

In [3]:
txt1 = pd.read_table(txtfile, header=None, names=['a'])
txt2 = pd.read_csv(txtfile,sep="\t",header=None)

csv1 = pd.read_csv(csvfile,header=None)
csv2 = pd.read_csv(csvfile,header=None,names = ['year', 'numspots', 'stdev','Nobs','confirmed'])

In [5]:
csv2['year']
txt1['a']

0      1850   -0.373   -0.425   -0.339   -0.502   -0....
1      1851   -0.218   -0.274   -0.184   -0.350   -0....
2      1852   -0.228   -0.280   -0.196   -0.353   -0....
3      1853   -0.269   -0.321   -0.239   -0.378   -0....
4      1854   -0.248   -0.301   -0.218   -0.349   -0....
                             ...
164    2014    0.579    0.545    0.616    0.560    0....
165    2015    0.763    0.730    0.802    0.747    0....
166    2016    0.797    0.762    0.835    0.781    0....
167    2017    0.676    0.636    0.716    0.655    0....
168    2018    0.563    0.528    0.606    0.541    0....
Name: a, Length: 169, dtype: object

You can even add column names while loading the file:

If you look at csvfile, you'll see some columns with `-1` as a value; this indicates *missing data*. Classifying your missing data properly will help you avoid accidential using the value in a calculation. You can specify this with another option:

In [6]:
csv3 = pd.read_csv(csvfile,header=None,names = ['year', 'numspots', 'stdev','Nobs','confirmed'],na_values=['-1'])
csv3.stdev

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
311    6.7
312    6.7
313    6.9
314    8.0
315    6.4
Name: stdev, Length: 316, dtype: float64

## Reading Excel files
Python will read excel files in the same manner as MATLAB. You can specify sheets and column/row in which to import.

In [10]:
xcel1 = pd.read_excel(xlsfile,sheet_name="Global Carbon Budget", skiprows=21)

In [8]:
xcel1

,1960.000000,2.568376,1.672592,1.505200,0.819017,1.394030,0.522722
0,1961,2.579724,1.607579,1.6536,0.714842,0.605098,1.213762
1,1962,2.685099,1.566764,1.1872,0.756709,1.348349,0.959605
2,1963,2.832715,1.513809,1.2084,0.904997,0.877794,1.355333
3,1964,2.993811,1.463909,1.0388,1.141757,1.400576,0.876588
4,1965,3.129408,1.417685,2.3320,1.292828,0.423229,0.499035
5,1966,3.287543,1.376039,2.3320,1.276707,1.278424,-0.223550
6,1967,3.392743,1.354776,1.2932,1.070206,1.628394,0.755719
7,1968,3.565352,1.353706,2.0988,1.100678,2.530558,-0.810978
8,1969,3.779047,1.362699,2.7984,1.138674,0.504256,0.700415
9,1970,4.051805,1.322253,2.3956,1.087883,0.441840,1.448736
10,1971,4.205709,1.284609,1.5476,1.155250,2.462389,0.325078
11,1972,4.373360,1.247343,3.1164,1.372604,1.047974,0.083724
12,1973,4.610634,1.219347,3.0952,1.380320,1.460738,-0.106277
13,1974,4.618881,1.179256,1.4416,1.288906,4.071815,-1.004185
14,1975,4.592151,1.147874,2.6076,1.360718,2.437261,-0.665554
15,1976,4.858344,1.130483,2.0564,1.370925,2.957802,-0.396300
16,1977,5.009672,1.106189,4.0704,1.477138,1.417892,-0.849568
17,1978,5.065966,1.069233,2.7348,1.494678,2.818063,-0.912342
18,1979,5.347770,1.042510,4.5368,1.295721,1.536242,-0.978482
19,1980,5.291510,1.085784,3.6040,1.648664,0.519354,0.605275
20,1981,5.127490,1.095712,2.4380,1.607267,2.274393,-0.096457
21,1982,5.082990,1.107551,2.1200,1.674443,1.554900,0.841198
22,1983,5.062622,1.149622,3.9008,1.828477,0.216520,0.266447
23,1984,5.244778,1.186019,2.6288,1.748991,2.832297,-0.779290
24,1985,5.401916,1.203917,3.4556,1.690006,2.640692,-1.180465
25,1986,5.566580,1.241728,2.1836,1.788596,2.251247,0.584865
26,1987,5.707536,1.279088,5.7028,1.812818,0.317565,-0.846559
27,1988,5.917333,1.296568,4.7488,1.706004,1.890188,-1.131091
28,1989,6.046489,1.323416,2.9256,1.712914,3.517669,-0.786278
29,1990,6.053987,1.321656,2.5016,1.840672,2.341613,0.691757
30,1991,6.121555,1.332811,1.5476,1.919818,2.143551,1.843398
31,1992,6.057616,1.348032,1.4840,2.155372,2.013203,1.753073
32,1993,6.046164,1.348865,2.5864,2.072706,2.885185,-0.149262
33,1994,6.150064,1.344577,3.5404,1.954134,1.486199,0.513908
34,1995,6.279319,1.330907,4.1764,1.895879,1.642831,-0.104883
35,1996,6.420027,1.305585,2.2896,1.836136,3.140624,0.459252
36,1997,6.527110,1.780073,4.1976,1.917838,2.984836,-0.793091
37,1998,6.546120,1.227512,5.9360,2.088455,1.344781,-1.595605
38,1999,6.531267,1.201552,2.8408,1.968748,3.704844,-0.781573
39,2000,6.702700,1.315815,2.6288,1.908294,3.986828,-0.505408
40,2001,6.860808,1.177840,3.9008,1.773296,2.407049,-0.042497
41,2002,6.958021,1.338158,5.0456,2.126849,0.908968,0.214763
42,2003,7.332625,1.387018,4.8336,2.160070,2.314355,-0.588383
43,2004,7.693122,1.336143,3.2860,2.081377,3.463560,0.198328
44,2005,7.984418,1.213966,5.1728,2.131634,1.606943,0.287007
45,2006,8.266058,1.254037,3.7524,2.206397,3.121596,0.439702
46,2007,8.427987,1.072542,4.4308,2.294111,2.792416,-0.016798
47,2008,8.699715,1.128444,3.7524,2.194921,3.708788,0.172049
48,2009,8.603478,1.573461,3.4344,2.297702,2.772791,1.672046
49,2010,9.024741,1.418949,5.1728,2.234444,3.099365,-0.062919
50,2011,9.377010,1.355331,3.5828,2.411007,4.254439,0.484095
51,2012,9.530374,1.599139,5.0456,2.459675,2.489436,1.134802
52,2013,9.609139,1.542106,5.1304,2.492618,3.267518,0.260710
53,2014,9.690455,1.601503,4.3248,2.556489,3.803287,0.607382
54,2015,9.678697,1.623192,6.1904,2.580257,1.837847,0.693385
55,2016,9.736654,1.300139,6.0420,2.636438,2.577243,-0.218888
56,2017,9.867157,1.388418,4.6428,2.506476,3.782197,0.324101

## Reading `npy` files
`npy` files are `numpy` type data files used to recreate arrays in Python. The syntax to save and load one of these files is
```python
import numpy as np
np.load('filename.npy')
np.save('filename.npy')

```

## Reading `mat` files
You can even read in `.mat` files that are created from MATLAB. You have to use the `scipy.io` module, which contains other useful input/output functions as well. Once loaded, you can access the MATLAB variables using a syntax you've seen before:

    mat1[<variablename>]

In [13]:
import scipy.io as sio
mat1 = sio.loadmat(datfile)
print(mat1.keys())
print(mat1['None'])

dict_keys(['__header__', '__version__', '__globals__', 'None', 'pop16', 'pop17', 'ev', '__function_workspace__'])
[(b'states', b'MCOS', b'string', array([[3707764736],
       [         2],
       [         1],
       [         1],
       [         1],
       [         1]], dtype=uint32))]

## Writing to a Plain Text file
Python contains builtin functions to output information to a plain text file. It involves opening a file to write to, writing to that file, and then closing said file.

In [14]:
f= open("test1.txt","w+")
f.write(txt1.a[1])
f.write('\n')
f.close()

You may also append a file (add to it without overwriting).

In [15]:
f= open("test1.txt","a+")
f.write(txt1.a[2])
f.write('\n')
f.close()

## Writing to an Excel file
`pandas` contains a function that allows you to write data to a Microsoft Excel file when using the function `ExcelWriter`. This function requires some groundwork as shown below:

In [16]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert a dataframe to an XlsxWriter Excel object.
csv1.to_excel(writer, sheet_name='temps')
csv3.to_excel(writer,sheet_name='temptitles')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Get the xlsxwriter objects from the dataframe writer object. 
#Not strictly needed to write to excel file, only if you want to get in the weeds about the writer object
workbook  = writer.book
worksheet = writer.sheets['temps']
worksheet1 = writer.sheets['temptitles']

writer.sheets

{'temps': <xlsxwriter.worksheet.Worksheet at 0x2b865a05a08>,
 'temptitles': <xlsxwriter.worksheet.Worksheet at 0x2b865f5c508>}

## Example using Pandas for data munging

In [17]:
# read table
df = pd.read_table('data/GlobalTempbyMonth.txt', header=None, index_col=0, sep='\s+')

In [18]:
# show data
df

,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,
1850/01,-0.700,-0.757,-0.627,-0.889,-0.510,-1.047,-0.352,-0.898,-0.500,-1.100,-0.299
1850/02,-0.286,-0.342,-0.218,-0.474,-0.098,-0.625,0.052,-0.482,-0.082,-0.676,0.111
1850/03,-0.732,-0.799,-0.680,-0.934,-0.529,-1.009,-0.454,-0.942,-0.519,-1.080,-0.382
1850/04,-0.563,-0.620,-0.493,-0.767,-0.360,-0.816,-0.310,-0.777,-0.349,-0.894,-0.231
1850/05,-0.327,-0.386,-0.279,-0.521,-0.132,-0.589,-0.064,-0.533,-0.128,-0.661,0.001
...,...,...,...,...,...,...,...,...,...,...,...
2017/11,0.552,0.509,0.590,0.513,0.591,0.441,0.663,0.494,0.610,0.427,0.678
2017/12,0.600,0.542,0.640,0.560,0.640,0.475,0.725,0.533,0.658,0.458,0.738
2018/01,0.554,0.507,0.603,0.527,0.581,0.410,0.699,0.503,0.611,0.402,0.710
2018/02,0.522,0.469,0.569,0.495,0.550,0.404,0.640,0.468,0.579,0.393,0.654
2018/03,0.619,0.580,0.660,0.594,0.644,0.498,0.741,0.568,0.668,0.484,0.750

In [19]:
# show index
df.index

Index(['1850/01', '1850/02', '1850/03', '1850/04', '1850/05', '1850/06',
       '1850/07', '1850/08', '1850/09', '1850/10',
       ...
       '2017/06', '2017/07', '2017/08', '2017/09', '2017/10', '2017/11',
       '2017/12', '2018/01', '2018/02', '2018/03'],
      dtype='object', name=0, length=2019)

In [20]:
# add new columns
df['average'] = df.mean(axis=1)
df['min'] = df.min(axis=1)
df['max'] = df.max(axis=1)

In [21]:
# sort by average
df2 = df.sort_values(by='average')

In [22]:
df2

,1,2,3,4,5,6,7,8,9,10,11,average,min,max
0,,,,,,,,,,,,,,
1893/01,-0.974,-1.057,-0.913,-1.082,-0.866,-1.286,-0.663,-1.111,-0.850,-1.316,-0.641,-0.978091,-1.316,-0.641
1864/01,-0.941,-1.014,-0.873,-1.134,-0.748,-1.472,-0.410,-1.147,-0.736,-1.511,-0.372,-0.941636,-1.511,-0.372
1861/01,-0.893,-0.960,-0.833,-1.066,-0.721,-1.336,-0.451,-1.081,-0.710,-1.375,-0.416,-0.894727,-1.375,-0.416
1862/12,-0.887,-0.978,-0.812,-1.071,-0.702,-1.319,-0.455,-1.093,-0.691,-1.368,-0.415,-0.890091,-1.368,-0.415
1917/03,-0.832,-0.910,-0.745,-0.926,-0.738,-1.024,-0.640,-0.952,-0.709,-1.058,-0.604,-0.830727,-1.058,-0.604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016/01,0.934,0.889,0.981,0.908,0.959,0.792,1.075,0.883,0.989,0.784,1.085,0.934455,0.784,1.085
2016/04,0.937,0.892,0.977,0.913,0.961,0.804,1.070,0.885,0.985,0.794,1.079,0.936091,0.794,1.079
2015/12,1.024,0.975,1.064,0.998,1.050,0.908,1.140,0.968,1.073,0.894,1.149,1.022091,0.894,1.149
2016/03,1.106,1.062,1.144,1.082,1.129,0.979,1.232,1.053,1.152,0.965,1.239,1.103909,0.965,1.239
2016/02,1.111,1.058,1.155,1.084,1.138,0.997,1.225,1.057,1.164,0.986,1.237,1.110182,0.986,1.237

In [23]:
# get a certain column
df.average

0
1850/01   -0.698091
1850/02   -0.283636
1850/03   -0.732727
1850/04   -0.561818
1850/05   -0.329000
             ...
2017/11    0.551636
2017/12    0.597182
2018/01    0.555182
2018/02    0.522091
2018/03    0.618727
Name: average, Length: 2019, dtype: float64

In [24]:
# boolean indexing
df[df.average>0.9]

,1,2,3,4,5,6,7,8,9,10,11,average,min,max
0,,,,,,,,,,,,,,
2015/12,1.024,0.975,1.064,0.998,1.050,0.908,1.140,0.968,1.073,0.894,1.149,1.022091,0.894,1.149
2016/01,0.934,0.889,0.981,0.908,0.959,0.792,1.075,0.883,0.989,0.784,1.085,0.934455,0.784,1.085
2016/02,1.111,1.058,1.155,1.084,1.138,0.997,1.225,1.057,1.164,0.986,1.237,1.110182,0.986,1.237
2016/03,1.106,1.062,1.144,1.082,1.129,0.979,1.232,1.053,1.152,0.965,1.239,1.103909,0.965,1.239
2016/04,0.937,0.892,0.977,0.913,0.961,0.804,1.070,0.885,0.985,0.794,1.079,0.936091,0.794,1.079

In [25]:
# group by year and calculate the average temperature
df['year'] = list(map(lambda x:x[:4], df.index))
year_average = df.groupby(df.year).average.mean()
year_average

year
1850   -0.376318
1851   -0.221894
1852   -0.231598
1853   -0.273061
1854   -0.253462
          ...
2014    0.579667
2015    0.763894
2016    0.797265
2017    0.677697
2018    0.565333
Name: average, Length: 169, dtype: float64

In [ ]:
df.index